In [1]:
import pandas as pd

In [2]:
#Read employee information file
empinfo_df = pd.read_excel("employee_information.xlsx")

In [3]:
#Get 1st sheet to a separated dataframe
print(empinfo_df.head())

  employee_id employee_last_name employee_first_name employee_country  \
0      A2R5H9             Hunman                 Jax               BE
1      H8K0L6               Siff                Tara               GB
2      G4R7V0              Sagal               Gemma               US
3      M1Z7U9             Coates                 Tig               FR

  employee_city      employee_street  employee_street_number
0        Leuven          Grote Markt                       9
1        London         Baker Street                     221
2      New-York         Perry Street                      66
3         Paris  Rue de l'Université                       7

In [4]:
#Get 2nd sheet to a separated dataframe
emergency_contacts_df = pd.read_excel("employee_information.xlsx", sheet_name=1)
print(emergency_contacts_df.head())

   A2R5H9  Hunman    Jax       Opie Hurst   +32-456-5556-84  Brother
0  H8K0L6    Siff   Tara  Wendy de Matteo  +44-020-5554-333   Sister
1  G4R7V0   Sagal  Gemma     John Newmark    +1-202-555-194  Husband
2  M1Z7U9  Coates    Tig      Venus Noone   +1-202-555-0130     Wife

In [5]:
#Declare headers for second sheet
emergency_contacts_header = ["employee_id", "last_name", "first_name",
                             "emergency_contact", "emergency_contact_number" , "relationship"]
#Rename the columns
emergency_contacts_df.columns = emergency_contacts_header
print(emergency_contacts_df.head())

  employee_id last_name first_name emergency_contact emergency_contact_number  \
0      H8K0L6      Siff       Tara   Wendy de Matteo         +44-020-5554-333
1      G4R7V0     Sagal      Gemma      John Newmark           +1-202-555-194
2      M1Z7U9    Coates        Tig       Venus Noone          +1-202-555-0130

  relationship
0       Sister
1      Husband
2         Wife

In [6]:
#Read address file
address_df = pd.read_csv("office_addresses.csv")

In [7]:
#Print first rows of address information
print(address_df.head())

          office office_country    office_city   office_street  \
0  Leuven Office             BE         Leuven  Martelarenlaan
1     ESB Office             US  New York City    Fifth Avenue
2  WeWork Office             GB         London      Old Street

   office_street_number
0                    38
1                   350
2                   207

In [8]:
#Load JSON file
employee_roles_df = pd.read_json("employee_roles.json")
employee_roles_df = employee_roles_df.reindex(sorted(employee_roles_df.columns), axis=1)
#Rotate the DF, add column ID to the DF
employee_roles_df = employee_roles_df.transpose()
employee_roles_df = employee_roles_df.reset_index()
employee_roles_df = employee_roles_df.rename(columns={'index' : 'employee_id'})
employee_roles_df = employee_roles_df.set_index('employee_id')
print(employee_roles_df )

                          title monthly_salary               team
employee_id
A2R5H9                      CEO          $4500         Leadership
G4R7V0       Business Developer          $3000              Sales
H8K0L6                      CFO          $4500         Leadership
M1Z7U9           Office Manager          $2000  People Operations

In [9]:
#Merge address with emergency contact
df_employee = pd.merge(empinfo_df, emergency_contacts_df, on='employee_id', copy=False)
#Merge with employee roles
df_employee = pd.merge(df_employee, employee_roles_df, how='left', on='employee_id', copy=False)
#Merge df employee with office address
df_employee = pd.merge(df_employee, address_df, how='left', left_on='employee_country', right_on='office_country' , copy=False)
print(df_employee.head())

  employee_id employee_last_name employee_first_name employee_country  \
0      H8K0L6               Siff                Tara               GB
1      G4R7V0              Sagal               Gemma               US
2      M1Z7U9             Coates                 Tig               FR

  employee_city      employee_street  employee_street_number last_name  \
0        London         Baker Street                     221      Siff
1      New-York         Perry Street                      66     Sagal
2         Paris  Rue de l'Université                       7    Coates

  first_name emergency_contact emergency_contact_number relationship  \
0       Tara   Wendy de Matteo         +44-020-5554-333       Sister
1      Gemma      John Newmark           +1-202-555-194      Husband
2        Tig       Venus Noone          +1-202-555-0130         Wife

                title monthly_salary               team         office  \
0                 CFO          $4500         Leadership  WeWork Office
1  Business Developer          $3000              Sales     ESB Office
2      Office Manager          $2000  People Operations            NaN

  office_country    office_city office_street  office_street_number
0             GB         London    Old Street                 207.0
1             US  New York City  Fifth Avenue                 350.0
2            NaN            NaN           NaN                   NaN

In [10]:
#Edit column Name
#drop duplicate
df_employee_rename = df_employee.drop(columns=['employee_first_name','employee_last_name'])
#new columns name
new_column_names = {"employee_id": "id",
                    "employee_country": "country",
                    "employee_city": "city",
                    "employee_street": "street",
                    "employee_street_number": "street_number",
                    "relationship": "emergency_relationship",
                    "emergency_contact_number": "emergency_number"}
df_employee_rename = df_employee_rename.rename(columns=new_column_names)
print(df_employee_rename)

       id country      city               street  street_number last_name  \
0  H8K0L6      GB    London         Baker Street            221      Siff
1  G4R7V0      US  New-York         Perry Street             66     Sagal
2  M1Z7U9      FR     Paris  Rue de l'Université              7    Coates

  first_name emergency_contact  emergency_number emergency_relationship  \
0       Tara   Wendy de Matteo  +44-020-5554-333                 Sister
1      Gemma      John Newmark    +1-202-555-194                Husband
2        Tig       Venus Noone   +1-202-555-0130                   Wife

                title monthly_salary               team         office  \
0                 CFO          $4500         Leadership  WeWork Office
1  Business Developer          $3000              Sales     ESB Office
2      Office Manager          $2000  People Operations            NaN

  office_country    office_city office_street  office_street_number
0             GB         London    Old Street                 207.0
1             US  New York City  Fifth Avenue                 350.0
2            NaN            NaN           NaN                   NaN

In [14]:
#Change color order
new_column_order = ["id", "last_name", "first_name", "title", "team", "monthly_salary", 
                    "country", "city", "street", "street_number",
                    "emergency_contact", "emergency_number", "emergency_relationship",
                    "office", "office_country", "office_city", "office_street", "office_street_number"]
df_employees_ordered = df_employee_rename[new_column_order]

df_employees_ordered.head()

,id,last_name,first_name,title,team,monthly_salary,country,city,street,street_number,emergency_contact,emergency_number,emergency_relationship,office,office_country,office_city,office_street,office_street_number
0,H8K0L6,Siff,Tara,CFO,Leadership,$4500,GB,London,Baker Street,221,Wendy de Matteo,+44-020-5554-333,Sister,WeWork Office,GB,London,Old Street,207.0
1,G4R7V0,Sagal,Gemma,Business Developer,Sales,$3000,US,New-York,Perry Street,66,John Newmark,+1-202-555-194,Husband,ESB Office,US,New York City,Fifth Avenue,350.0
2,M1Z7U9,Coates,Tig,Office Manager,People Operations,$2000,FR,Paris,Rue de l'Université,7,Venus Noone,+1-202-555-0130,Wife,NaN,NaN,NaN,NaN,NaN

In [20]:
df_employees_ordered = df_employees_ordered.set_index('id')
df_employees_ordered['street_number'] = df_employees_ordered['street_number'].astype(int)

#If the value for office is NaN then the employee is remote: add a column named "status", right after monthly_salary indicating whether the employee is "On-site" or "Remote."
print(df_employees_ordered)

       last_name first_name               title               team  \
id
H8K0L6      Siff       Tara                 CFO         Leadership
G4R7V0     Sagal      Gemma  Business Developer              Sales
M1Z7U9    Coates        Tig      Office Manager  People Operations

       monthly_salary country      city               street  street_number  \
id
H8K0L6          $4500      GB    London         Baker Street            221
G4R7V0          $3000      US  New-York         Perry Street             66
M1Z7U9          $2000      FR     Paris  Rue de l'Université              7

       emergency_contact  emergency_number emergency_relationship  \
id
H8K0L6   Wendy de Matteo  +44-020-5554-333                 Sister
G4R7V0      John Newmark    +1-202-555-194                Husband
M1Z7U9       Venus Noone   +1-202-555-0130                   Wife

               office office_country    office_city office_street  \
id
H8K0L6  WeWork Office             GB         London    Old Street
G4R7V0     ESB Office             US  New York City  Fifth Avenue
M1Z7U9            NaN            NaN            NaN           NaN

        office_street_number
id
H8K0L6                 207.0
G4R7V0                 350.0
M1Z7U9                   NaN